        {% extends 'RentCarBundle:Default:index.html.twig' %}

        {% block content %}
        <div id="content" class="col-lg-8 text-center">
                                <div class="panel panel-info">
            <h3>Dostępne samochody</h3>
        	<table class="table table-striped">
        	{% for car in cars %}
                    <tr>
                    	<td><img src="{{ car.img }}" class="img-thumbnail"></td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{ car.brand }}</dd>
                                <dt>Model</dt>
                                <dd>{{ car.model }}</dd>
                                <dt>Klasa</dt>
                                <dd>{{ car.class }}</dd>
                                <dt>Cena</dt>
                                <dd>{{ car.priceFor1Day }} zł/dzień</dd>
                                <dd><a class="btn btn-primary" href="{% if app.user %}{{'order'}}/{{car.brand}}/{{car.model}}{% else %}{{path('fos_user_security_login')}}{% endif %}">Wypożycz</a><dd>
                            </dl>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                        </div>
        {% endblock %}
        {% block top %}
<div id="top" class="col-lg-3 text-center">
                    <div class="panel panel-info">
        
            <h3>Najczęściej oceniane</h3>
            <table class="table table-striped">
            {% for topRat in topRated %}
                    <tr>
                        <td><img src="{{ topRat.img }}" class="img-thumbnail"></td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                </div>

                <div id="top" class="col-lg-3 text-center">
                    <div class="panel panel-info">
        
            <h3>Najczęściej wypożyczane</h3>
            <table class="table table-striped">
            {% for topRent in topRented %}
                    <tr>
                        <td><img src="{{ topRent.img }}" class="img-thumbnail"></td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                </div>
        {% endblock %}