{% extends "RentCarBundle:Default:index.html.twig" %}
{% block content %}
<div class="container text-center">
<h3>Dziękujemy za transakcje!</h3><br>
<p>Samochód <b>{{car.0.brand}} {{car.0.model}}</b> będzie na Ciebie czekał <b>{{ carOrder.orderDate|date("m/d/Y g:ia") }}</b></p> 
<p>Przewidywana data oddania samochodu <b>{{ carOrder.orderPredictedReturnDate|date("m/d/Y g:ia") }}</b></p>
<p><b>Całkowity koszt: {{cost}} zł</b></p>
<a class="btn btn-info"href="{{ path('rent_car_homepage') }}">Strona główna</a>
</div>
{% endblock %}
{% block top %}
{% endblock %}
