{% extends 'RentCarBundle:Default:index.html.twig' %}
{% block content %}
<div id="content" class="col-lg-8 col-md-offset-2 text-center">
                                <div class="panel panel-info">
            <h3>Historia transakcji</h3>
        	<table class="table table-striped">
        	<thead>
                <tr>
                  <th>Samochód</th>
                  <th>Data wypożyczenia</th>
                  <th>Data zwrotu</th>
                  <th>Cena</th>
                  <th>Status</th>
                  <th>Opinia</th>
                </tr>
              </thead>
              <tbody>
        	{% for order in orders %}
                    <tr>
                    	<td><img src="{{ order.img }}" class="img-thumbnail"></td>
                    	<td>{{	order.brand}} {{order.model}}</td>
                        <td>{{ order.orderDate|date("m/d/Y g:ia") }}</td>
                        {% if order.orderReturnDate is null %}
                        	<td>-</td>
                        {% else %}
                        	<td>{{ order.orderReturnDate|date("m/d/Y g:ia") }}</td>
                        {% endif %}
                        <td>{{	order.priceFor1Day}}</td>
                        {% if order.orderReturnDate is null	%}
                        	<td>W trakcie</td>
                        	<td></td>
                        {% else %}
                        	{% if order.opinion is null%}
                        		<td>Do oceny</td>
                        		<td><a href="{{'opinion'}}/{{order.id}}" class="btn btn-info">Dodaj opinie</a></td>
                        	{% else %}
                        		<td>Oceniona</td>
                        		<td></td>
                        	{% endif %}
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
                        </div>
{% endblock %}
{% block top %}
{% endblock %}