<html>
<head>
	<meta charset="UTF-8">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<title>Renteo - Wypożyczalnia samochodów</title>
</head>	
<body>
	<div class="container">
		{% block menu %}
		 
		<nav class="navbar navbar-default navbar-fixed-top">
  			<div class="container">
				{% if app.user %}
   			 		<h4 class="navbar-text"><ins>Witaj, {{app.user.username}}!</ins></h4>
   			 		<a class="btn btn-info navbar-btn" href="{{path('rent_car_history')}}">Historia transakcji</a>
   			 		<a class="btn btn-success navbar-btn" href="{{path('fos_user_security_logout')}}">Wyloguj się</a>
 		 		{% else %}
 		 			<a class="btn btn-success navbar-btn" href="{{path('fos_user_security_login')}}">Zaloguj się</a>
 		 			<a class="btn btn-info navbar-btn" href="{{path('fos_user_registration_register')}}">Zarejestruj się</a>
 		 		{% endif %}
 		 		<a class="btn btn-info navbar-btn navbar-right" href="{{path('rent_car_homepage')}}">Strona główna</a>
 		 </div>
		</nav>
		{% endblock %}
		<header class="page-header">
			<div class="container text-center" style="background-color:#5bc0de;">
				<img src="{{ asset('bundles/rentcar/images/baner.png') }}" class="img-responsive center-block img-rounded"/>
			</div>
		</header>
		<div class="container">
			<div class="row">
				{% block content %}
				<p>Tu będzie content. Jestem w layoucie. </p>
				{% endblock %}
				{% block top %}
				
						
						<p>Tu będą najczęściej wypożyczane </p>
						
					
				{% endblock %}
			</div>
		</div>
		<footer style="background-color:#5bc0de; color:#ffffff;">
			<div class="container text-center">
				<p>Szymon Nitecki Uniwersytet Ekonomiczny w Krakowie</p>
			</div>
		</footer>
	</div>
</body>	
</html>