{% extends "RentCarBundle:Default:index.html.twig" %}
{% block content %}
<div class="container">
{% for flashMessage in app.session.flashbag.get('notice') %}

<div class="alert alert-success">
    {{ flashMessage }}
</div>

{% endfor %}
<div class="col-lg-6 col-md-offset-3">
{{ form_start(form) }}
	{{ form_row(form.opinion)}}
    <button type="submit" class="btn btn-info" >Wyślij</button>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
{% block top %}
{% endblock %}
