{% extends "RentCarBundle:Default:index.html.twig" %}
{% block content %}
<div class="container col-md-offset-4">
<div class="col-lg-4">
	<img src="{{ car.0.img }}" class="img-thumbnail">
</div>
<dl class="dl-horizontal">
								<dd></dd>
                                <dt>Marka</dt>
                                <dd>{{ car.0.brand }}</dd>
                                <dt>Model</dt>
                                <dd>{{ car.0.model }}</dd>
                                <dt>Klasa</dt>
                                <dd>{{ car.0.class }}</dd>
                                <dt>Cena</dt>
                                <dd>{{ car.0.priceFor1Day }} zł/dzień</dd>
                            </dl>
{{ form_start(form) }}
	{{ form_row(form.orderDate)}}
	{{ form_row(form.orderPredictedReturnDate)}}
    <button type="submit" class="btn btn-info" >Zamawiam</button>
{{ form_end(form) }}
</div>
{% endblock %}
{% block top %}
{% endblock %}
