{% extends 'base.html.twig' %}

{% block body %}
    <h1>CarOrder list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rentuser</th>
                <th>Carid</th>
                <th>Orderdate</th>
                <th>Orderreturndate</th>
                <th>Orderpredictedreturndate</th>
                <th>Opinion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carOrder in carOrders %}
            <tr>
                <td><a href="{{ path('carorder_show', { 'id': carOrder.id }) }}">{{ carOrder.id }}</a></td>
                <td>{{ carOrder.rentUser }}</td>
                <td>{{ carOrder.carId }}</td>
                <td>{% if carOrder.orderDate %}{{ carOrder.orderDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if carOrder.orderReturnDate %}{{ carOrder.orderReturnDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if carOrder.orderPredictedReturnDate %}{{ carOrder.orderPredictedReturnDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ carOrder.opinion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('carorder_show', { 'id': carOrder.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('carorder_edit', { 'id': carOrder.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carorder_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
