{% extends 'base.html.twig' %}

{% block body %}
    <h1>CarOrder</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carOrder.id }}</td>
            </tr>
            <tr>
                <th>Rentuser</th>
                <td>{{ carOrder.rentUser }}</td>
            </tr>
            <tr>
                <th>Carid</th>
                <td>{{ carOrder.carId }}</td>
            </tr>
            <tr>
                <th>Orderdate</th>
                <td>{% if carOrder.orderDate %}{{ carOrder.orderDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Orderreturndate</th>
                <td>{% if carOrder.orderReturnDate %}{{ carOrder.orderReturnDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Orderpredictedreturndate</th>
                <td>{% if carOrder.orderPredictedReturnDate %}{{ carOrder.orderPredictedReturnDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Opinion</th>
                <td>{{ carOrder.opinion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carorder_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carorder_edit', { 'id': carOrder.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
